/* add default body styling */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

header {
  background-color: #333333;
  padding: 20px;
  text-align: center;
}

section {
  margin: 20px;
}

footer {
  background-color: #333333;
  padding: 10px;
  text-align: center;
}

h2 {
  color: black;
}

.highlight {
  color: white;
  background-color: orange;
  padding: 4px;
  font-style: italic;
}

#header {
  border-bottom: 0.4em solid pink;
}

a[href^="mailto:"] {
  color: orange;
}

a:hover {
  color: white;
}

p::first-line {
  font-weight: bold;
}

main {
  border-top: 0.2em solid black;
}

h1 {
  color: green !important; /* Overridden by inline styles */
}

p {
  color: red; /* Overridden by internal styles */
}

#header h1 {
  color: orange !important; /* Overridden by !important */
}
