$primary-color: #FFC0CB
$font-size: 16px

body
    font-family: Arial, sans-serif
    font-size: $font-size
    color: $primary-color
    margin: 0
    padding: 0

.header, .footer
    background-color: lighten($primary-color, 40%)
    padding: 20px
    text-align: center

@mixin rounded-corners($radius)
    border-radius: $radius

.feature-list li, .example-text
@include rounded-corners(10px)
padding: 10px
background-color: lighten($primary-color, 50%)

.header
h1
    font-size: 2em

.about
h2
    font-size: 1.5em

p
    font-size: $font-size

.features
h2
    font-size: 1.5em

.feature-list
    list-style-type: disc
    padding-left: 20px

    li
    @include rounded-corners(5px)
    padding: 5px
    margin-bottom: 5px
    background-color: lighten($primary-color, 50%)

.example
h2
    font-size: 1.5em

    &-text
    @include rounded-corners(10px)
    padding: 10px
    background-color: lighten($primary-color, 50%)
