body {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}

h1 {
  color: #2c3e50;
  font-size: 2.5rem;
}

.intro-text {
  color: #555;
  font-size: 1.1rem;
}

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.btn-primary {
  background-color: #3498db;
  color: white;
}
.btn-primary:hover {
  background-color: rgb(33.1380753138, 125.1882845188, 186.8619246862);
}