body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: pink;
}

.container {
    border-radius: 14px;
    padding: 1em;
    max-width: 35rem;
    background-color: white;
    margin: auto;
}

.contact-info, .pick, .giveaway, .suggestion {
    border: 1px solid pink;
    border-radius: 14px;
    margin: .5em 0 1em 0;
    padding: 1em;
}



#title {
    margin-top: -.4em;
}

h1 {
    margin-bottom: -18px;
}

.subtitle {
    font-size: small;
    margin-top: 1.2em;
}

h2 {
    margin: 0 0 .8em 0;
}

h3 {
    margin: 0 0 .8em 0;
}

#not-literally {
    font-size: .8em;
    margin-top: -1.2em;
}

#suggestions {
    font-size: smaller;
    margin-top: -0.4em;
}

#note {
    font-size: .8em;
    font-weight: 900;
    color: red;
}

#yes-in-pink {
    color: fuchsia;
    opacity: 70%;
}

#name, #email, #tel {
    padding: 0 .2em 0 .2em;
}